@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/animation';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/btn';
@import 'blocks/contacts';
@import 'blocks/clients';
@import 'blocks/basement';
/* @import 'blocks/slider'; */
@import 'blocks/service';
@import 'blocks/media';