.basement {
    padding: 40px 0;
    background: $text-color;
    margin-top: 80px;
    &__wrapper {
        display: grid;
        grid-template: auto / repeat(2, 220px) ;
        column-gap: 30px;
        justify-content: space-around;
    }
    &__item {
        position: relative;
        font-size: 14px;
        color: aliceblue;
        list-style-type: none;
        line-height: 30px;
        padding-left: 10px;
        margin-left: 19px;
        a {
            color: aliceblue;
        }
        &-phone, &-inst, &-viber, &-email, &-check {
            &:before {
                content: "";
                position: absolute;
                left: -20px;
                top: 1px;
                width: 23px;
                height: 23px;
                
            }
        }
        &-phone {
            &:before {
                content: "";
                background: url('../icons/social/phone-white.svg') center/cover no-repeat;
                }
        }
        &-inst {
            &:before {
                content: "";
                background: url('../icons/social/Instagram-white.svg') center/cover no-repeat;
                }
        }
        &-viber {
            &:before {
                content: "";
                background: url('../icons/social/viber-white.svg') center/cover no-repeat;
                }
        }
        &-email {
            &:before {
                content: "";
                background: url('../icons/social/mail-white.svg') center/cover no-repeat;
                }
        }
        &-check {
            &:before {
                content: "";
                background: url('../icons/social/check-white.svg') center/cover no-repeat;
                max-height: 65%;
                }
        }
    }
    &__title {
        color: $light-color;
    }
}