.btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 25px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid $light-color;
    transition: .3s all;
    a {
        font-size: 20px;
        font-weight: bold; 
        color: $light-color;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        background: #6716bf; 
    }
}