header {
    background: #f9f9f1;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    box-shadow: 0 10px 30px 0 rgb(78 12 89 / 10%);
    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 30px;
        height: 60px;
        }
    .instagram {
        color: $txt-color;
        text-decoration: none;
        img {
            width: 30px;
        }
    }
    .hamburger {
        display: none;
        position: absolute;
        top: 20px;
        right: 30px;
        height: 21px;
        cursor: pointer;
        span {
            display: block;
            margin-bottom: 5px;
            width: 30px;
            height: 3px;
            background: $txt-color;
        }
        /* .long {
            width: 35px;
        } */
    }
    
    .menu {
        margin: 0;
        height: 60px;
        display: flex;
        justify-content: end;
        align-items: center;
        list-style-type: none;
        &__item {
            padding-left: 30px;
        }
        &__link {
            position: relative;
            color: #443c4c;
            &:after {
                display: block;
                position: absolute;
                left: 0; 
                width: 0;
                height: 2px; 
                background-color:  $main-color; 
                content: "";
                transition: width 0.3s ease-out; 
            }
            &:hover:after,&:focus:after, &:hover {
                width: 100%;
                color: $main-color;
                text-decoration: none;
            }
        }
    }
}