header {
    position: absolute;
    top: 0;
    .menu__wrapper {
        position: fixed;
        background: $light-color;
        width: 100%;
        height: 40px;
        z-index: 10;
        box-shadow: $box-shadow;
    }

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 30px;
        height: 40px;
    }

    .instagram {
        color: $text-color;
        text-decoration: none;

        img {
            width: 30px;
        }
    }

    .hamburger {
        display: none;
        position: absolute;
        top: 20px;
        right: 30px;
        height: 21px;
        cursor: pointer;

        span {
            display: block;
            margin-bottom: 5px;
            width: 30px;
            height: 3px;
            background: $text-color;
        }
    }

    .menu {
        margin: 0;
        height: 60px;
        display: flex;
        justify-content: end;
        align-items: center;
        list-style-type: none;

        &__item {
            padding-left: 30px;
        }

        &__link {
            position: relative;
            color: #443c4c;

            &:after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $main-color;
                content: "";
                transition: width 0.3s ease-out;
            }

            &:hover:after,
            &:focus:after,
            &:hover {
                width: 100%;
                color: $main-color;
                text-decoration: none;
            }
        }

        &__sale {
            display: none;
        }
    }
}