body {
  &.modal-active {
    overflow: hidden;
  }
}

.modal {
  position: fixed;
  display: block;
  padding: 20px;
  background-color: $light-color;
  border: none;
  box-shadow: $box-shadow;
  border-radius: 10px;
  top: 20%;
  margin: 0 auto;
  max-width: 355px;

  animation: roadRunnerOut .5s 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

  & > ul {
    list-style-type: none;

    & > li {
      font-size: 1.2rem;
    }
  }

  .modalBtn {
    box-shadow: $box-shadow;
    color: $text-color;

    &:hover {
      color: $light-color;
    }
  }


  @media(max-width: 360px) {
    max-width: 310px;
  }
}

dialog::backdrop {
  visibility: visible;
  background-color: $main-color;
  overflow: hidden;
  transform: scaleY(.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.showModal {
  transform: scale(0);
  animation: zoomIn 0.5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }
  50% {
    transform: scaleY(.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(.005) scaleX(1);
  }
  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
