
.modal {
  position: fixed;
  padding: 20px;
  background-color: $light-color;
  border: none;
  box-shadow: $box-shadow;
  border-radius: 10px;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 auto;

  & > ul {
    list-style-type: none;

    & > li {
      font-size: 1.2rem;
    }
  }

  .modalBtn {
    box-shadow: $box-shadow;
    color: $text-color;

    &:hover {
      color: $light-color;
    }
  }

}
dialog::backdrop{
 background-color: rgba(0, 0, 0, 0.5);
}