
.modal {
  position: fixed;
  display: block;
  padding: 20px;
  background-color: $light-color;
  border: none;
  box-shadow: $box-shadow;
  border-radius: 10px;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 auto;
  max-width: 355px;

  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;

  & > ul {
    list-style-type: none;

    & > li {
      font-size: 1.2rem;
    }
  }

  .modalBtn {
    box-shadow: $box-shadow;
    color: $text-color;

    &:hover {
      color: $light-color;
    }
  }

  @media(max-width: 360px) {
    max-width: 310px;
  }

}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.showModal {
  opacity: 1;
  visibility: visible;
}

//@keyframes showModal {
//  0% {
//    transform: translateY(-50%) scale(0);
//  }
//  80% {
//    transform: translateY(-50%) scale(1.2);
//  }
//  100% {
//    transform: translateY(-50%) scale(1);
//  }
//}