.promo {
    overflow: hidden;
    min-height: 100vh;
    background-color: $bg-color;
    .container {
        padding: 0 30px 0 ;
        position: relative;
    }
    &__title {
        padding-top: 120px;
        font-size: 50px;
        line-height: 1.05;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;

    }
    &__img { 
        position: absolute;
        top: 60px;
        right: -241px;
        img {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
    }
    &__sale{
        margin-top: 13px;
        font-size: 22px;
        &-underline {
            text-decoration: line-through;
            padding: 0 5px;
        }
        &-big {
            font-size: 26px;
            font-weight: bold;
            animation: col 3s ease infinite;
        }
    }
    &__tel {
        margin-left: 35px;
        font-weight: bold;
        margin-top: 13px;
        font-size: 28px;
        position: relative;
        a {
            color: $main-color;
        }
        &::before {
            content:'';
            position: absolute;
            width: 30px;
            height: 30px;
            top: 5px;
            left: -38px;
            background: url('../../icons/social/call.png') center/cover no-repeat ;
        }
    }
}
