.promo {
    min-height: 100lvh;
    margin-bottom: 40px;
    background: linear-gradient(180deg, rgba(132, 57, 236, 1) 0%, rgba(211, 0, 196, 1) 35%, rgba(248, 164, 38, 1) 100%);

    &__wrapper {
        padding-top: 20vh;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;

        &-block {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 5;
            width: fit-content;
        }

        &-img {
            height: 550px;
            z-index: 1;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__title {
        color: $light-color;
        font-size: 4.5rem;
        line-height: 1.05;

        &>span {
            text-align: center;
            color: inherit;
        }
    }


    &__subtitle {
        font-family: 'Lobster';
        color: $light-color;
        font-size: 1.5rem;
        line-height: 40px;
        font-weight: bold;

    }
}