.promo {
  min-height: 100svh;
  margin-bottom: 40px;
  background: linear-gradient(180deg, rgba(132, 57, 236, 1) 0%, rgba(211, 0, 196, 1) 35%, rgba(248, 164, 38, 1) 100%);

  &__wrapper {
    padding-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
    }

    &-img {
      height: 550px;
      opacity: 0;
      animation: show 2s cubic-bezier(0.16, 0.88, 0.81, 0.93) forwards;
      img {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        object-fit: cover;
      }
    }
  }

  &__title {
    color: $light-color;
    font-size: 4.5rem;
    line-height: 1.05;
    text-shadow: 0 0 10px #FFE7708E;

    opacity: 0;
    animation: show 1s cubic-bezier(0.16, 0.88, 0.81, 0.93) 0.3s forwards;

    & > span {
      text-align: center;
      color: inherit;
    }
  }

  &__subtitle {
    color: $light-color;
    font-size: 1.5rem;
    line-height: 40px;
    font-weight: bold;

    opacity: 0;
    animation: show 1s cubic-bezier(0.16, 0.88, 0.81, 0.93) 0.6s forwards;
  }

  .smile {
    display: inline-block;
    animation: showSmile 0.5s cubic-bezier(0.44, 0.74, 0.89, 0.64) 3s forwards;
  }

  .btn {
    opacity: 0;
    animation: show 1s cubic-bezier(0.16, 0.88, 0.81, 0.93) 1.2s forwards;
  }

}

