.service {
    padding: 40px 10px ;
    margin: 0 auto;
    &__wrapper {
        display: grid;
        grid-template: auto / 335px  1fr;
        gap: 80px;

        border-radius: 20px;
        box-shadow: $box-shadow;
        padding: 40px;
        background-color: $light-color
    }
    &__video {
        video {
            border-radius: 10px;
        }
    }
    &__title {
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    &__list {
        list-style-type: none;
    }
    &__item {
        position: relative;
        font-size: 20px;
        margin-top: 24px;
        padding-left: 10px;
        transition: all 0.3s;
        &:hover {
            transform: translateX(3px);
            color: rgb(22, 193, 22);
        }
    }

}