.service {
    padding: 40px 0px;
    margin: 0 auto;

    &__wrapper {
        display: grid;
        grid-template: auto / 358px 1fr;
        gap: 80px;

        border-radius: 20px;
        box-shadow: $box-shadow;
        padding: 40px;
        background-color: $light-color
    }

    &__video {
        video {
            border-radius: 10px;
        }
    }

    &__title {
        text-align: start;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        position: relative;
        font-size: 1.2rem;
        margin-top: 24px;
        padding-left: 35px;

        transition: all 0.3s;

        &:hover {
            transform: translateX(3px);
            color: #9b2ce0;
        }
z
        &::after {
            content: '✅';
            position: absolute;
            top: 0;
            left: 0;

        }
    }

    &__price {
        width: 100%;
        color: $text-color;
        box-shadow: $box-shadow;
    }

}