.slider__instabox {
    padding: 40px 10px;
    margin: 0 auto;
}

.slider {
    position: relative;
    margin: auto;

    &__title {
        font-size: 36px;
        text-align: center;
        padding-bottom: 10px;
    }

    .item img {
        object-fit: cover;
        max-height: 600px;
        max-width: 95%;
        margin: 0 auto;
        border-radius: 10px;
        display: block;
        box-shadow: none !important;
    }
}


.mini-img {
    height: 60px;
    margin: 2px 2px;
    border-radius: 5px
}

.slider .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 18px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 5px;
}

.slider .next {
    right: 0;
    border-radius: 5px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(146, 7, 221, 0.428);
}

.slider__dots {
    text-align: center;
}

.active,
.mini-img:hover {
    opacity: 0.5;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.3s;
    animation-name: fade;
    animation-duration: 0.3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}